:root {
  --main-color: #00b0bf;
  --second-color: #38466c;
  /* #279b8f */
  --black: #222;
  --white: #999;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);

  /* Font and Typhography */
  --body-font: "Worksans", sans-serif;
  --title-font: "Sedan SC";

  --h1-font-size: 1.5rem;
  --normal-font-size: 0.813rem;
  --small--font-size: 0.9rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margin Bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1-0: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3-: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  /* width: 100%; */
  /* height: 100vh; */
  /* min-height: 100vh; */
  min-width: 100%;
  /* min-height: auto; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url(/img/newjumbotron.png) no-repeat center center / cover;
  background-attachment: fixed;
  /* background-size: cover;
  background-position: center; */
}

nav {
  /* padding: 0 50px; */
  width: 100%;
  z-index: 1000;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-one {
  background-color: rgba(255, 255, 255, 0.2);
  height: 70px;
}

.navbar-one .right {
  margin-top: 20px;
  color: #09adbb;
  font-family: "Satisfy";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 80%;
  text-shadow: var(--text-shadow);
}

.navbar-second {
  background-color: rgba(255, 255, 255, 0.2);
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-second .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.left > div + div {
  /* margin-left: 40px; */
}

.right > div {
  /* margin-left: 40px; */
}

.left > div:hover,
.right > div:hover {
  color: black;
  transition: all 0.5s;
}

/* span {
  margin-left: 5px;
} */

.logo {
  position: absolute;
  width: 320px;
  height: 150px;
  left: 0px;
  top: -10px;
  background: url(/img/tourism_village.png) no-repeat;
  cursor: pointer;
}

li {
  padding: 0px 20px;
  /* margin-left: 2rem; */
}

li:hover {
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: var(--main-color);
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
  transition: ease-in-out 0.3s;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

#btn-menu {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.title {
  font-family: "Abhaya Libre ExtraBold";
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  color: #fff;
  text-align: left;
  margin-top: 100px;
  margin-left: 80px;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Abhaya Libre SemiBold";
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  margin-left: 80px;
  color: whitesmoke;
  text-align: left;
  margin-top: 20px;
}

.btn:hover {
  background: var(--second-color);
  color: var(--light-white);
  transition: linear 0.2s;
}

.btn {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  padding: 15px 25px;
  gap: 15px;

  position: absolute;
  left: 80px;
  margin-top: 15px;

  background-color: #09adbb;
  border-radius: 15px;
}

.footer {
  background: url(/img/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  margin-left: 50px;
}

.footer .box-container .box h3 {
  color: var(--second-color);
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.footer .box-container .box a {
  color: var(--light-white);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a i {
  color: var(--main-color);
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
}

.footer .credit {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 0.1rem solid var(--light-white);
  color: var(--white);
}

.footer .credit span {
  color: var(--main-color);
}

/* ========== LAYOUT ========== */
.container {
  max-width: 768px;
  margin-left: var(--mb-2-5);
  margin-right: var(--mb-2-5);
}

.grid {
  display: grid;
  gap: 50px;
}

.header {
  width: 100%;
  z-index: 100;
}

/* ========== HEADER ========== */
.main__title {
  font-family: "Sedan SC";
  color: var(--main-color);
  font-size: 2rem;
  font-weight: var(--font-medium);
  line-height: 80%;
  margin-left: 20px;
  font-style: normal;
}

.header__gua {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* ========== NAV ========== */
.nav {
  display: flex;
  height: 3rem;
  max-width: 968px;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 30px;
}

.nav__link {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 30px;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  background-color: var(--main-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.website__description {
  display: block;
  text-align: justify;
  margin-left: 60px;
  margin-right: 120px;
  font-size: 1rem;
  color: var(--light-white);
}

.description {
  padding: 1rem 0 2rem;
}

/* ========== ABOUT ========== */

.about {
  background-image: url("../img/keindahan-pemandangan-di-goa-pindul\ 2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.about__container {
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.about__content {
  position: relative;
  padding: 0.7rem 0.7rem 1rem 0.7rem;
  /* width: 170px;
  height: 110px; */
  border-radius: 0.5rem;
  background-color: white;
  margin-left: 2rem;
  cursor: pointer;
}

.about__img {
  /* display: inline-flex;
  flex-direction: column;
  padding: 1rem 2rem 3rem 2rem;
  width: 170px;
  height: 110px;
  border-radius: .5rem;
  background-color: white; */
  width: 220px;
  height: 140px;
  border-radius: 0.5rem;
}

.about__title {
  font-family: "Sedan SC";
  color: white;
  font-size: 800;
}

.about__subtitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  font-size: var(--h1-font-size);
  padding-top: 15px;
  margin-bottom: var(--mb-3-);
  text-align: center;
  color: var(--main-color);
}

/* media queries */
@media (max-width: 1080px) {
  .navbar-one .right h1 {
    font-size: 50px;
  }

  .navbar-second .flex a {
    text-align: center;
  }

  iframe {
    height: 940px;
    width: 730px;
  }
}

@media (max-width: 800px) {
  .navbar-one .right h1 {
    font-size: 40px;
  }

  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 2rem;
  }

  li {
    padding: 0px 10px;
  }

  .logo {
    position: absolute;
    transform: scale(75%);
    width: 320px;
    height: 150px;
    left: -30px;
    top: -10px;
    background: url(/img/tourism_village.png) no-repeat;
    cursor: pointer;
  }

  iframe {
    height: 640px;
    width: 480px;
  }
}

@media (max-width: 600px) {
  iframe {
    height: 4800px;
    width: 360px;
  }

  .logo {
    transform: scale(50%);
    left: -60px;
  }

  #menu-btn {
    display: inline;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  header .navbar-second {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2rem;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar-second.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    text-align: center;
  }
}

.maps {
  margin-top: 50px;
  padding-top: 50px;
}
